<div class="card bg-light h-100">
	<div class="card-body">
		<h4 class="card-title"><%= game.title %></h4>
		<p class="card-text"><%= game.address %></p>
		<p class="card-text"><%= game.datetime %></p>
		<%= link_to 'Find out the details', game_path(game) %>
	</div>
</div>
