<div class="card bg-light h-100">
	<div class="card-body">
		<h4 class="card-title"><%= game.title %></h4>
		<p class="card-text"><%= game.address %></p>
		<p class="card-text"><%= l game.datetime, format: :long %></p>
		<%= link_to t('views.partials.game_card.game_link'), game_path(game), class: "text-decoration-none" %>
	</div>
</div>
