<div class="mb-3">
  <% unless current_user %>
    <p class="text-secondary ps-2"><%= t("views.games.index.unauthenticated") %></p>
  <% end %>
</div>

<%= render partial: "game_card", locals: { games: @games } %>
