<% photos.each_slice(4) do |photo1, photo2, photo3, photo4| %>
  <div class="row">
    <div class="col-lg-3 col-md-6 mb-3">
      <%= render partial: "photos/photo", locals: {photo: photo1} %>
    </div>
    <div class="col-lg-3 col-md-6 mb-3">
      <%= render partial: "photos/photo", locals: {photo: photo2} if photo2 %>
    </div>
    <div class="col-lg-3 col-md-6 mb-3">
      <%= render partial: "photos/photo", locals: {photo: photo3} if photo3 %>
    </div>
    <div class="col-lg-3 col-md-6 mb-3">
      <%= render partial: "photos/photo", locals: {photo: photo4} if photo4 %>
    </div>
  </div>
<% end %>
