body {
  font-family: sans-serif;
}

.field_with_errors {
  display: contents;
}

.img-icon {
  height: 20px;
  margin-top: -2px;
}

.card-img-bg {
  height: 15vw;
  object-fit: cover;
  width: 100%;
  opacity: 15%;
}
